#Y See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#Y dependencies
/node_modules
.vscode/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

#Y testing
/coverage

#Y next.js
/.next/
/out/

#Y production
/build

#Y misc
.DS_Store
*.pem

#Y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

#Y env files (can opt-in for committing if needed)
.env

#Y vercel
.vercel

#Y typescript
*.tsbuildinfo
next-env.d.ts